In [ ]:
# Los datos: EXPLORACIÓN Y LIMPIEZA
# 1. Customer flight Analisys.csv (actividad de vuelo de los clientes)
# 2. Customer Loyalty History.csv (perfil de los clientes)
# Ejercicio:
# FASE 1 - EXPLORACIÓN Y LIMPIEZA
# 1.1 Exploracion inicial: nulos, valores atipicos, datos faltantes...(Pandas)
# 1.2 Unión de los conjuntos
# 2.1 Eliminación o imputación de nulos
# 2.2 Verificar consistencia y correlacion
# 2.3 Ajustes y conversiones necesarias para el análisis estadístico

In [1]:
# Impotación de librterias necesarias para el ejercicio
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [10]:
# Lectura de ficheros - Voy a utilizar distintos métodos para el EDA
df_cf = pd.read_csv("files/customer_flight_activity.csv")
df_cf.head() # ver las primeras filas
df_cf.sample(8) # ver filas aleatorias

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
250431,288530,2018,5,13,1,14,2618,261.0,601,49
329809,563633,2018,8,1,1,2,2736,273.0,0,0
354918,999940,2018,9,8,5,13,2301,230.0,0,0
194174,540918,2017,12,0,0,0,0,0.0,0,0
14857,890617,2017,1,0,0,0,0,0.0,0,0
193571,508126,2017,12,14,0,14,3920,392.0,0,0
171254,219413,2017,11,0,0,0,0,0.0,0,0
16080,655082,2018,9,10,4,14,3976,397.0,401,33

In [13]:
df_cl = pd.read_csv("files/customer_loyalty_history.csv")
df_cl.head() # 
df_cl.sample(8) # Me llama la atención que el país es siempre Canadá
df_cl["Country"].unique() # Compruebo que en esa columna solo está Canadá

array(['Canada'], dtype=object)

In [17]:
# Para seguir voy a unificar ambos csv en uno solo. Para ello comprueblo que la columna para realizar esta unión es:
# "Loyalty Number" ya que es compartida por ambos csv y se refiere al identificador del cliente. 
# Aplico el método .merge() que permite combinar 2 DataFrame basándose en una o varias columnas comunes.
df = df_cf.merge(df_cl, how = "inner", on = "Loyalty Number")

In [18]:
df

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,100018,2017,1,3,0,3,1521,152.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
1,100018,2017,2,2,2,4,1320,132.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
2,100018,2018,10,6,4,10,3110,311.0,385,31,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
3,100018,2017,4,4,0,4,924,92.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
4,100018,2017,5,0,0,0,0,0.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405619,999891,2018,8,0,0,0,0,0.0,0,0,Canada,Nova Scotia,Halifax,B3J 9S2,Female,Bachelor,75616.0,Married,Nova,3745.37,Standard,2016,5,2017.0,1.0
405620,999891,2018,9,0,0,0,0,0.0,0,0,Canada,Nova Scotia,Halifax,B3J 9S2,Female,Bachelor,75616.0,Married,Nova,3745.37,Standard,2016,5,2017.0,1.0
405621,999891,2018,10,0,0,0,0,0.0,0,0,Canada,Nova Scotia,Halifax,B3J 9S2,Female,Bachelor,75616.0,Married,Nova,3745.37,Standard,2016,5,2017.0,1.0
405622,999891,2018,11,0,0,0,0,0.0,0,0,Canada,Nova Scotia,Halifax,B3J 9S2,Female,Bachelor,75616.0,Married,Nova,3745.37,Standard,2016,5,2017.0,1.0
405623,999891,2018,12,0,0,0,0,0.0,0,0,Canada,Nova Scotia,Halifax,B3J 9S2,Female,Bachelor,75616.0,Married,Nova,3745.37,Standard,2016,5,2017.0,1.0

In [15]:
df_cl.sample(10)
# para generar un nuevo csv. df_unido.to_csv("files/unido.csv")

,Loyalty Number,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
11928,819077,Canada,Quebec,Hull,J8Y 3Z5,Male,Bachelor,63952.0,Married,Star,2842.82,Standard,2015,5,NaN,NaN
15839,369646,Canada,Alberta,Peace River,T9O 2W2,Female,Master,85959.0,Divorced,Star,12168.74,Standard,2017,4,NaN,NaN
1654,215314,Canada,Alberta,Edmonton,T3G 6Y6,Female,College,NaN,Single,Aurora,6277.01,Standard,2016,1,2016.0,3.0
10116,624216,Canada,Ontario,Toronto,M2M 7K8,Female,College,NaN,Single,Star,2310.88,Standard,2017,2,NaN,NaN
10430,427354,Canada,British Columbia,Dawson Creek,U5I 4F1,Female,High School or Below,74537.0,Married,Star,2429.28,Standard,2017,12,NaN,NaN
5837,220244,Canada,British Columbia,Vancouver,V5R 1W3,Female,College,NaN,Single,Nova,4446.74,Standard,2014,7,NaN,NaN
5415,261426,Canada,Ontario,Toronto,P1J 8T7,Male,Bachelor,67680.0,Divorced,Nova,3788.65,Standard,2017,7,2018.0,3.0
14513,246722,Canada,Ontario,Toronto,P1L 8X8,Male,Bachelor,64680.0,Married,Star,7285.03,Standard,2017,9,NaN,NaN
16274,148753,Canada,Quebec,Montreal,H2Y 4R4,Male,College,NaN,Divorced,Star,17497.52,Standard,2016,4,NaN,NaN
16702,465347,Canada,Newfoundland,St. John's,A1C 6H9,Female,College,NaN,Married,Star,38055.21,Standard,2015,8,NaN,NaN